<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-drive
      md-10">
        <h1 class="display-2 text-white">Hola {{user.username}}</h1>
        <p class="text-white mt-0 mb-5">En esta pagina verás los vídeos subidos a los cursos que estas suscrito</p>
        <!-- <a href="#!" class="btn btn-info">Edit profile</a>  -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-course shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <img src="https://avatars.dicebear.com/api/human/{{user.username}}.svg" style="width: 400px" class="rounded-circle">
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{user.courses.length}}</span>
                  <span class="description">Cursos</span>
                </div>
                <div>
                  <span class="heading"><app-rating [editable]="false" [currentRate]="user.rate"></app-rating></span>
                  <span class="description">Valoración</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3 id="username">
              {{user.username}}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{user.email}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
          <!-- Fedd -->
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-6">
              <h3 class="mb-0">Vídeos de cursos a los que estas suscrito</h3>
            </div>
          </div>
        </div>
          <div class="pl-lg-4">
            <div *ngFor=" let video of feed">
              <div class="row" style="display: flex">
                <div class="col-3">
                  <img class="image-course" src="data:image/png;base64,{{video.imagePreview}}"/>
                </div>
                <div class="col-9" style="padding-top: 2%">
                  <h1 [routerLink]="['/view-video', video.course, video.id]" class="h1-course">{{video.title}}</h1>
                  <p class="p-course">{{video.description}}</p>
                </div>
              </div>
              <hr class="my-4" />
            </div>
            <hr class="my-4" />
            <div class="text-center">
              <input type="button" id="btn-get-feed" (click)="getFeed()" class="btn btn-sm btn-primary"
                     style="font-size: 100%" [hidden]="!moreFeed" value="Mostrar Más vídeos">
            </div>
          </div>
          <!-- End Feed -->
        </div>
      </div>
    </div>
  </div>

