<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row" >
      <div class="col-lg-7 col-drive
      md-10">
        <h1 class="display-2 text-white">Resultados de {{searchText}}</h1>
        <p class="text-white mt-0 mb-5">A continuación se muestran los usuarios de la búsqueda</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-10 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-6">
              <h3 class="mb-0">Criterios de búsqueda</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="searchForm">
            <div class="pl-lg-4 col-4">
              <div class="form-group">
                <label class="form-control-label" for="input-searchText" >Búsqueda</label>
                <input type="text" id="input-searchText" formControlName="textToSearch"
                       class="form-control form-control-alternative" [(ngModel)]="searchText">
              </div>
            </div>
            <div class="pl-lg-4 col-4">
              <label class="form-control-label" for="input-searchText" >Tipo de búsqueda</label>
              <select class="form-control select-box" formControlName="comboType" id="combo-type" (change)="typeChanged();">
                <option value="profile" >Perfil</option>
                <option value="course">Curso</option>
              </select>
            </div>

            <div class="pl-lg-4 col-4" style="margin-top: 20px;" id="course-filter-input-group" [hidden]="!isCourse">
              <label class="form-control-label" for="input-searchText" >Categoria</label>
              <select class="form-control select-box" formControlName="courseCategory" id="combo-categories">
                <option value="" selected>Todos</option>
                <option *ngFor="let category of categories" value="{{category.name}}">
                  {{category.name}}
                </option>
              </select>
            </div>
            <div class="col-2" style="margin-top: 20px">
              <input type="button" (click)="search()" id='btn-update' class="btn btn-sm btn-primary" value="Buscar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px">
    <div class="col-xl-10 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-6">
              <h3 class="mb-0">Criterios de búsqueda</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="pl-lg-12">
            <div *ngFor=" let course of courses" class="course" >
              <div class="row">
                <div class="cont col-2">
                  <img class="image-course" src="{{course.category.imageUrl}}"/>
                </div>
                <div class="col-10 card-profile" style="padding-top: 2%">
                  <h1><a >{{course.coursename}}</a></h1> <!--[routerLink]="['/user-profile-no-owner', profile.username]"-->
                  <p class="p-profile">{{course.description}}</p>
                </div>
              </div>
             <hr class="my-4" />
          </div>

          <div *ngFor=" let profile of profiles" class="course" >
              <div class="row">
                <div class=" col-2">
                  <img class="image-profile" src="https://avatars.dicebear.com/api/human/{{profile.username}}.svg"/>
                </div>
                <div class="col-10 card-profile" style="padding-top: 2%">
                  <h1><a >{{profile.username}}</a></h1> <!--[routerLink]="['/user-profile-no-owner', profile.username]"-->
                  <p class="p-profile">{{profile.description}}</p>
                </div>
              </div>
              <hr class="my-4" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
