<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">¡Bienvenido!</h1>
          <p class="text-lead text-light">Seymour, la plataforma que necesitas para aprender y formarte por
            tu cuenta de forma gratuita y libre.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <img src="./assets/img/brand/seymour.png " width="210">
            <h2 class="text-black">Seymour</h2>
          </div>
          <!--Login Formulary-->
          <form role="form" [formGroup]="loginData" >
            <!--Email input-->
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input id="emailInput" class="form-control" formControlName="email"
                       [ngClass]="{'is-invalid': !loginData.get('email').valid}"
                       placeholder="Email" type="email">
                <div *ngIf="triedLogin && loginData.controls['email'].errors?.required" class="invalid-feedback">
                  El email es necesario
                </div>
                <div *ngIf="triedLogin && invalidEmail" class="invalid-backend-response">
                  El email es incorrecto
                </div>
              </div>
            </div>
            <!--End Email input-->

            <!--Password input-->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input id="passwordInput" class="form-control" formControlName="password"
                       [ngClass]="{'is-invalid': !loginData.get('password').valid}"
                       placeholder="Contraseña" type="password">
                <div *ngIf="triedLogin && loginData.controls['password'].errors?.required" class="invalid-feedback">
                  La contraseña es necesaria
                </div>
                <div *ngIf="triedLogin && invalidPassword" class="invalid-backend-response">
                  La contraseña es incorrecta
                </div>
              </div>
            </div>
            <!--End Password input-->
            <div class="text-center">
              <button id="login-button" type="button"  (click)="submit()" class="btn btn-primary my-4">Iniciar Sesión</button>
            </div>
          </form>
          <!--End Login Formulary-->
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a id='open-pop-up' href="#" (click)="showPopupRecoverPassword()" class="text-light"><small>Recuperar contraseña</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="#/register" class="text-light"><small>Crear una nueva cuenta</small></a>
        </div>
      </div>
    </div>
  </div>

  <!--Pop up Recover Password-->
  <div class="overlay-pop-up" id="overlay-recover-password">
    <div class="col-md-7 card p-5">
      <a href="#" (click)="closeRecoverPassword()" id="btn-cerrar-perfil"
         style="position: absolute;top: 20px;right: 30px;"><i class="ni ni-fat-remove"></i></a>
      <p>Recuperar contraseña</p>
      <div *ngIf="triedSendEmail && emailSent" class="valid-backend-response">
        Ha sido enviado un email con un enlace para poder cambiar la contraseña.
      </div>
      <div *ngIf="triedSendEmail && invalidEmail" class="invalid-backend-response">
        El email es no es válido.
      </div>
      <form class="form-material" [formGroup]="recoverPasswordData">
        <div class="form-group">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
            </div>
            <input class="form-control" id="emailRecoverPassword" formControlName="email"
                   [ngClass]="{'is-invalid': !recoverPasswordData.get('email').valid}"
                   placeholder="Email" type="email">
            <div *ngIf="triedLogin && loginData.controls['email'].errors?.required" class="invalid-feedback">
              El email es necesario.
            </div>
          </div>
        </div>
        <div class="text-center">
          <button id="send-email-button" type="button"  (click)="sendEmail()" class="btn btn-primary my-4">Recuperar contraseña</button>
        </div>
      </form>
      <!-- #END# Input -->
    </div>
  </div>
  <!--End Pop up Recover Password-->

</div>
