h1{
  font-size: 60px;
}
h2{
  font-size: 50px;
}

.invalid-input{
  border: solid #dc3545;
  borderRadius: '5px';
  borderWidth: '1px';
}
.invalid-update{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
