<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hola {{user.username}}</h1>
        <p class="text-white mt-0 mb-5">Esta es tu página de perfil. Aqui puedes ver el progreso que has realizado con tu trabajo y gestionar tus cursos</p>
        <!-- <a href="#!" class="btn btn-info">Edit profile</a>  -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="https://avatars.dicebear.com/api/human/{{user.username}}.svg" style="width: 400px" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{courses.length}}</span>
                  <span class="description">Cursos</span>
                </div>
                <div>
                  <span class="heading">{{valuation}}</span>
                  <span class="description">Valoración</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3 id="username">
              {{user.username}}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{user.email }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-6">
              <h3 class="mb-0">Mi perfil</h3>
            </div>
            <div class="col-3 text-center">
              <input type="button" [hidden]="!disabled" (click)="openEdit()" id='btn-enable-update'
                     class="btn btn-sm btn-primary" value="Modificar perfil">
            </div>
            <div class="col-3 text-center">
              <input type="button" [hidden]="!disabled" (click)="openDeletePopup()" id='btn-open-delete-popup'
                     class="btn btn-sm btn-primary" value="Borrar perfil">
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="updateForm">
            <h6 class="heading-small text-muted mb-4">Información del usuario</h6>
            <div *ngIf="!updateError && triyingUser" class="valid-backend-response">
              <span id="correct-response">Se ha actualizado el perfil.</span>
            </div>
            <div *ngIf="updateError && triyingUser" class="invalid-backend-response">
              <span id="error-response">Error al actualizar el perfil.</span>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label"  for="input-username">Nombre de usuario</label>
                    <input type="text" id="input-username" formControlName="username"
                           class="form-control form-control-alternative" placeholder="{{user.username}}" >
                    <div *ngIf="updateForm.controls['username'].errors?.required && triyingUser" class="invalid-update">
                      <span id="required-username-feedback">El nombre es necesario</span>
                    </div>
                    <div *ngIf="updateForm.controls['username'].errors?.minlength && triyingUser" class="invalid-update">
                    <span>El nombre debe tener al menos 4 caracteres</span>
                  </div>
                    <div *ngIf="updateForm.controls['username'].errors?.maxLength && triyingUser" class="invalid-update">
                      <span id="maximum-username-feedback">El nombre debe tener como máximo 40 caracteres</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label"  for="input-email">Email</label>
                    <input type="email" id="input-email" formControlName="email"
                      class="form-control form-control-alternative" placeholder="{{user.email}}">
                  </div>
                  <div *ngIf="updateForm.controls['email'].errors?.required && triyingUser" class="invalid-update">
                    <span id="required-email-feedback">El email es necesario</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Descripción</label>
                    <input type="text" id="input-description" formControlName="description"
                           class="form-control form-control-alternative" placeholder="{{user.description}}" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-2 text-center">
                <input type="button" [hidden]="disabled" (click)="saveChanges()" id='btn-update'class="btn btn-sm btn-primary" value="Guardar">
              </div>

              <div class="col-2 text-center">
                <input type="button" [hidden]="disabled" (click)="cancelUpdate()" id='btn-cancel-update' class="btn btn-sm btn-primary" value="Cancelar">
              </div>
            </div>
          </form>

          <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Tus cursos </h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-1 text-right">
                  <input type="button" id="btn-open-new-course" (click)="openNewCoursePopUp()" class="btn btn-sm btn-primary" value="Nuevo curso">
                </div>
              </div>
              <div class="row">
                 <div *ngFor=" let course of courses" class="col-md-5 course" >
                   <img class="image-course" src="{{course.category.imageUrl}}"/>
                   <h3 class="course-title">{{course.coursename}}</h3>
                   <p class="course-category">{{course.category.name}}</p>
                 </div>
              </div>
            </div>
            <hr class="my-4" />
        </div>
      </div>
    </div>
  </div>

  <!--New Courser PopUp-->
  <div class="overlay-pop-up" id="new-course-pop-up" [hidden]="!popupNewCourseVisible">
    <div class="col-md-7 card p-5">
      <button id='btn-close-new-course' (click)="closeNewCoursePopUp()"
         style="padding: 0; border: none; background: none; position: absolute;top: 20px;right: 30px;"><i class="ni ni-fat-remove"></i></button>
      <h1>Nuevo curso</h1>
      <form role="form" [formGroup]="createCourseForm">
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3" id="div-courseName">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
            </div>
            <input id="input-course-name" class="form-control" placeholder="Nombre del curso" type="text" formControlName="courseName"
                   [ngClass]="{'is-invalid': !createCourseForm.get('courseName').valid}" name="courseName">
          </div>
          <div *ngIf="createCourseForm.controls['courseName'].errors?.required && triyingCourse" class="invalid-update">
            <span>El nombre es necesario</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3" id="div-courseDescription">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-hat-83"></i></span>
            </div>
            <input id="input-description-course" class="form-control" formControlName="courseDescription" [ngModel]=""
                   placeholder="Descripción" type="text"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3" id="div-courseCategory">
            <select class="form-control select-box" formControlName="courseCategory" id="combo-categories">
              <option value="" disabled selected>Categoría</option>
              <option *ngFor=" let category of categories" value="{{category.name}}">
                {{category.name}}
              </option>
            </select>
          </div>
        </div>
      </form>
      <div class="text-center">
        <button type="button" id='btn-create-course' (click)="saveCourse()" class="btn btn-primary mt-4">Guardar curso</button>
      </div>
    </div>
  </div>
  <!--End New Courser PopUp-->

  <!--Delete PopUp-->
  <div class="overlay-pop-up" id='delete-pop-up' [hidden]="!popupDeleteProfileVisible">
    <div class="col-md-7 card p-5">
      <button (click)="closeDeletePopup()" id="btn-close-delete-pop-up"
         style="padding: 0; border: none; background: none; position: absolute;top: 20px;right: 30px;">
        <i class="ni ni-fat-remove"></i></button>
      <h3>¿Seguro que quieres eliminar tu perfil?</h3> <i ></i>
      <div *ngIf="deleteError" class="invalid-backend-response">
        Error al borrar tu cuenta prueba otra vez.
      </div>
      <div class="text-center">
        <button type="button" id="btn-delete" (click)="deleteUserProfile()" class="btn btn-primary mt-4">Aceptar</button>
        <button type="button" id="btn-cancel-delete"(click)="closeDeletePopup()" class="btn btn-primary mt-4">Cancelar</button>
      </div>
    </div>
  </div>
  <!--End Delete PopUp-->
</div>

