<div class="container-fluid mt--7">
  <hr>
  <div class="row">
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>
  <hr>
  <ng-template #t let-fill="fill">
  <span class="gift" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">⭐</span>⭐
    </span>
  </ng-template>

  <ngb-rating
    [(rate)]="currentRate"
    [starTemplate]="t"
    [readonly]="false"
    max="5">
  </ngb-rating>


  <h1 class="text-primary">
    Angular 10 Start Rating Example
  </h1>
  <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
  <p>Rate: {{currentRate}}</p>

    <span class="fa fa-star-o" data-jest="empty star"></span>
    <span class="fa fa-star-o" data-jest="empty star"></span>
    <span class="fa fa-star-o" data-jest="empty star"></span>
    <span class="fa fa-star-o" data-jest="empty star"></span>
    <span class="fa fa-star-o" data-jest="empty star"></span>

  <custom-ratings
    [UncheckedIcon] ='"assets/img/rating/emptyStar.svg"'
    [CheckedIcon] ='"assets/img/rating/empty/fullstar.svg"'
    [HalfCheckedIcon] ='"assets/img/rating/empty/halfstar.svg"'
    [Iconwidth] = "'25'"
    [RatingCount] = 5
    [DisableHalfRating] = false
    [DefaultRating] = 2
    [disableSelect] = false
    (selectedRating)='getRating($event)'
  ></custom-ratings >



</div>
